@model OptumPresence.Models.Dashboard.ScheduleListViewModel

<p class="text-left" style="font-weight: bold">@Model.Date.ToString("dd")</p>
@Html.HiddenFor(model => model.Date)
<ul>
    @for (int counter = 0; counter < Model.Schedules.Count; counter++)
    {
        //TODO: Make clickable to approve or reject (for managers only)
        <li>@Html.LabelFor(model => model.Schedules[counter].User.FirstName)</li>
    }
    
</ul>