@model IEnumerable<ProjectCheckIn_Beta.ViewModels.BookingCalendarViewModel>

<table class="table">
    <tr>
        <!--Loop Through modelview to get days of week-->
    </tr>
    <tr>
        <!--Loop Through modelview again to get booking details if any-->
    </tr>
</table>
