<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OptumPresence.Data.Properties.Settings.DB_101392_mgonlineConnectionString" connectionString="Data Source=s15.winhost.com;Initial Catalog=DB_101392_mgonline;Persist Security Info=True;User ID=DB_101392_mgonline_user;Password=Welcome@1" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
